// prettier-ignore
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
// prettier-ignore
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-padding-top: var(--page-offset-top, 15rem);
  height: 100%;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  font-family: var(--font-family-base, sans-serif, Helvetica, Arial);
  font-size: var(--font-size-base, 1.6rem);
  line-height: var(--line-height-base, 1.2);
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;

  color: var(--color, #000);
  background: var(--background, #fff);
}

body.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: var(--font-weight-bold, 700);
}

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

input,
select {
  vertical-align: middle;
}

.flow > * + * {
  margin-top: var(--flow-space, var(--font-size-base, 1.6rem));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
